#quartus project files
*.*
!*.vhd
!*.c
!*.cpp
!*.vhdl
!*.h
!*.qsys
!*.amp
!*.sopc
!*.vwf
!*.qsf
!*.qip

Qsys/db/

Qsys/incremental_db/

Qsys/output_files/



Qsys/nios2/synthesis/submodules/

Qsys/nios2/synthesis/

Qsys/software/HardwareTester/create-this-app

Qsys/software/HardwareTester/Makefile

Qsys/software/HardwareTester_bsp/
!Qsys/software/HardwareTester_bsp/settings.bsp

Qsys/software/ucos_test_bsp/

Qsys/software/ucos_test/Makefile
