#quartus project files
*.*
!*.vhd
!*.c
!*.cpp
!*.vhdl
!*.h
!*.qsys
!*.amp
!*.sopc
!*.vwf
!*.qsf
!*.qip
!*.bsp
!*.txt

Qsys/db/

Qsys/incremental_db/

Qsys/output_files/



Qsys/nios2/synthesis/submodules/

Qsys/nios2/synthesis/

Qsys/software/*/*
!Qsys/software/*/.cproject
!Qsys/software/*/.project
!Qsys/software/*/.c
!Qsys/software/*/settings.bsp
!Qsys/software/libraries/*

