#quartus project files
*.*
!*.vhd
!*.c
!*.cpp
!*.vhdl
!*.h
!*.qsys
!*.amp
!*.sopc
!*.vwf
!*.qsf
!*.qip
!*.bsp

Qsys/db/

Qsys/incremental_db/

Qsys/output_files/



Qsys/nios2/synthesis/submodules/

Qsys/nios2/synthesis/

Qsys/software/HardwareTester/create-this-app

Qsys/software/HardwareTester/Makefile




Qsys/software/ucos_test/Makefile

Qsys/software/HardwareTester_bsp/drivers/inc/

Qsys/software/HardwareTester_bsp/drivers/src/

Qsys/software/HardwareTester_bsp/HAL/inc/

Qsys/software/HardwareTester_bsp/HAL/src/

Qsys/software/HardwareTester_bsp/linker\.h

Qsys/software/ucos_test_bsp/alt_sys_init\.c

Qsys/software/ucos_test_bsp/drivers/inc/

Qsys/software/ucos_test_bsp/HAL/inc/

Qsys/software/ucos_test_bsp/HAL/src/

Qsys/software/ucos_test_bsp/UCOSII/inc/os/

Qsys/software/ucos_test_bsp/UCOSII/inc/

Qsys/software/ucos_test_bsp/UCOSII/src/

Qsys/software/ucos_test_bsp/drivers/src/
